/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.ide-wal
*.ide-shm
*.ide
*.lock
*.cachefile
*.dtbcache

\.vs/NetcodeCore/v15/

\.vs/NetcodeCore/DesignTimeBuild/
